<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pointters">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.PointtersApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.IntroActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.RegistrationActivity"
            android:label="@string/create_account"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.RegistrationDetailsActivity"
            android:label="@string/tell_us_few_things"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:label="@string/forgot_password_heading" />

        <activity android:name=".activity.HomeActivity" />

        <activity android:name=".activity.SearchServiceActivity" />

        <activity android:name=".activity.SearchResultsActivity" />

        <activity
            android:name=".activity.AddServiceActivity"
            android:label="@string/add_service">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
    </application>

</manifest>