<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pointters">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
 See README(https://goo.gl/l4GJaQ) for more. -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/dark_pointters_gray" />
    <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
         notification message. See README(https://goo.gl/6BKBk7) for more. -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorAccent" />
    <!--<meta-data-->
        <!--android:name="com.google.firebase.messaging.default_notification_channel_id"-->
        <!--android:value="@string/default_notification_channel_id"/>-->

    <!--<meta-data android:name="firebase_messaging_auto_init_enabled"-->
    <!--android:value="false" />-->
    <!--<meta-data android:name="firebase_analytics_collection_enabled"-->
    <!--android:value="false" />-->

    <application
        android:name=".application.PointtersApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.TermsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.RegistrationDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.SearchServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddServiceActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.TagServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.PhotoViewerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MediaPlayerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SendServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.LinkServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.GetLiveOffersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.SendCustomOfferActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.CustomOfferDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.AddPriceOptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.NotificationOptionsActivity"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name=".activity.MenuScreenActivity"-->
            <!--android:screenOrientation="portrait" />-->
        <activity
            android:name=".activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ProfileScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.BecomeASellerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CheckoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FulfillmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LocationSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderProcessingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CancelOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReviewOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentMethodsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AddPaymentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ShippingAddressesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AddShippingAddressesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AddShippingDetailActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.GetUserDataService" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBBGzrcEyLwBkvDoL4CyisK6XSvgz9tvEI" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ServiceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditServiceDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.UserFollowersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.InviteFriendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.WatchingLikeActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name=".activity.BackgroundCheckActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.ChooseCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserSettingsActivity"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name="com.journeyapps.barcodescanner.CaptureActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--tools:replace="screenOrientation" />-->
        <activity
            android:name=".activity.PlayVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:theme="@style/AppTheme">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />

                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->
        </activity>
        <activity android:name=".activity.StoreLocationsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.EnterStoreLocationActivity" />
        <activity android:name=".activity.NotificationsActivity" />
        <activity android:name=".activity.LikeCommentsShareActivity" />
        <activity android:name=".activity.TransactionHistoryActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a7718166c0116a3bf5281ed207022bc1b3e7e9a1" />

        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.UserSettingShippingAddressesActivity" />
        <activity android:name=".activity.EnterShippingAddressesActivity" />
        <activity android:name=".activity.JobDetailActivity" />

        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true"/>
        <service
            android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>